.root {
    -fx-background-color: #1e1e1e;
    -fx-font-family: "SF Pro Display";
}

.label.title {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #4c8bf5, #1a73e8);
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-radius: 12px;
    -fx-padding: 10 20;
}

.button:hover {
    -fx-background-color: #6ea3ff;
}

.table-view {
    -fx-background-color: #000000;
}

.table-view .column-header-background {
    -fx-background-color: #3a3a3a;
}

.table-view .column-header, .table-view .table-cell {
    -fx-text-fill: black;
}

.list-view {
    -fx-background-color: #000000;
    -fx-control-inner-background: #2d2d2d;
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: white;
}


