.button {
    -fx-background-color: linear-gradient(#1d1d1d, #6c1d1d);
    -fx-text-fill: #e6e6e6;
    -fx-background-radius: 6;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2a2a2a, #7c2a2a);
}

.button:pressed {
    -fx-background-color: linear-gradient(#121212, #0d0d0d);
}
.confirm-button {
    -fx-background-color: linear-gradient(#2a2a2a, #145314);
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
}

.confirm-button:hover {
    -fx-background-color: linear-gradient(#2a2a2a, #22bf22);
}

.confirm-button:pressed {
    -fx-background-color: linear-gradient(#2a2a2a, #145314);

}
